you are given with array of numbers.you have to find whether array is beautiful or not. A beautiful array is an array whose sum of all numbers is divisible by 2, 3 and 5

Input Description:

You are given a number ‘n’ denoting the size of array.Next line contains n /space separated numbers.

Output Description:

Print 1 if array is beautiful and 0 if it is not

Sample Input :

5

5 25 35 -5 30

Sample Output :

1

In [ ]:
a = int(input())
b = list(map(int,input().split()))
sum = 0
for i in b:
  sum = sum+i
if sum%2==0 and sum %3==0 and sum%5==0:
  print("1")
else:
  print(0)

5
5 25 35 -5 30
1

You are a passport issuer, but due to some problems in the system, there are redundant  passport numbers. Your task is to delete all the duplicate passport numbers. You are given a list of passport numbers.

Input Description:

You are given length of list.Second line,You are given with a list.

Output Description:

Print the list of passport numbers without duplicates.

Sample Input :

5

A23 B56 B56 C79 D16

Sample Output :

A23 B56 C79 D16

In [ ]:
a = int(input())
b = list(map(str,input().split()))
c = []
for i in b:
  if i not in c:
    c.append(i)
  else:
    pass
print(*c)

5
A23 B56 B56 C79 D16
A23 B56 C79 D16

You are given with an array. For each element present in the array your task is to print the next smallest than that number. If it is not smallest print -1

Input Description:

You are given a number ‘n’ representing size of array. And n space separated numbers.

Output Description:

Print the next smallest number present in array and -1 if no smallest is present

Sample Input :

7

10 7 9 3 2 1 15

Sample Output :

7 3 3 2 1 -1 -1

In [ ]:
n = int(input())
a = list(map(int,input().split()))
b = []
for i in range(len(a)):
  m = -1
  for j in range(i+1,len(a)):
    if a[i]>a[j]:
      m = a[j]
      break
  b.append(m)
print(*b)

7
10 7 9 3 2 1 15
7 3 3 2 1 -1 -1

You are given with two arrays. Your task is to merge the array such that first array is in ascending order and second one in descending order.

Input Description:

First line contains two integer ‘n’ and ‘m’. ‘n’ denotes length of array 1 and ‘m’ of array 2.Next line contains n space separated numbers and third line contains ‘m’ space separated numbers

Output Description:

Print a single array in desired order

Sample Input :

3 3

23 15 16

357 65 10

Sample Output :

15 16 23 357 65 10

In [ ]:
n,m = list(map(int,input().split()))
a = list(map(int,input().split()))
b = list(map(int,input().split()))
c = sorted(a)
d = sorted(b, reverse = True)
for i in d:
  c.append(i)
print(*c)

3 3
23 15 16
357 65 10
15 16 23 357 65 10

You are provided with an array in which all elements are repeated thrice except one which is repeated twice.Your task is to print that number.



O(n) time and O(1) extra space

Input Description:

First line contains a number denoting size of array ‘n’.Next line contains n space separated numbers

Output Description:

Print the number which is repeated twice

Sample Input :

5

13 12 13 12 13

Sample Output :

12

In [ ]:
a = int(input())
b = list(map(int,input().split()))
c = []
d = []
e = []

for i in b:
  if i not in c:
    c.append(i)
  else:
    d.append(i)
for i in d:
  if d.count(i) == 1:
    e.append(i)
print(*e)

5
13 12 13 12 13
12

Given 2 numbers N and K followed by elements of N .Print 'yes' if K exists else print 'no'.

Sample Testcase :

INPUT

4 2

1 2 3 3

OUTPUT

yes

In [ ]:
N,K = list(map(int,input().split()))
a = list(map(int,input().split()))
m = []
for i in a:
  if i == K:
    m.append(i)
  else:
    pass
if len(m)>0:
  print("yes")
else:
  print("no")

4 2
1 2 3 3
yes

A person saves his monthly saving according to given schema. He saves same amount of money which is equal to the money saved in immediate previous two months. Assume, initially he saved 1000 rupees and in first month he saved another 1000. Your task is to tell how much he had totally saved at the end of ‘n’ months

Input Description:

You will be given a number ‘n’->No. of months

Output Description:

Print the total savings at the end of ‘n’ months

Sample Input :

1

Sample Output :

2000

In [ ]:
n = int(input())
t = 1000
for i in range(1,n+1):
  i = i * 1000
  t = t + i
print(t)

1
2000

You are given with an array of numbers, Your task is to print the difference of indices of largest and smallest number.All number are unique.

Input Description:

First line contains a number ‘n’. Then next line contains n space separated numbers.

Output Description:

Print the difference of indices of largest and smallest array

Sample Input :

5

1 6 4 0 3

Sample Output :

-2

In [ ]:
a = int(input())
b = list(map(int,input().split()))
c = max(b)
d = min(b)
e = []
f = []
sub = []
for i,j in enumerate(b):
  if c == j:
    e.append(i)
  if d == j :
    f.append(i)
for i,j in zip(e,f):
  sub.append(i-j)
print(*sub)

5
1 6 4 0 3
-2

Rajesh and Ram are having a conflict on the maximum marks that they have scored in all the exams conducted in the past year. The one having scored the maximum gets a treat from the other. They decide to go through their test papers and record their highest marks. You are Rajesh’s best friend and as he has tutions to attend, he gives you all his test papers and asks you to find out the maximum marks that he has scored among all the marks in all exams. He promises you a treat if he wins the bet with Ram. Help Rajesh find out his highest marks.

Constraints:

1 <= N <= 10

0 <= A[] <= 100

Input Description:

First line contains count of marks. Next line is the list of marks obtained by Rajesh.

Output Description:

Highest marks obtained by Rajesh.

Sample Input :

3

82 96 72

Sample Output :

96

In [ ]:
n = int(input())
l = list(map(int,input().split()))
print(max(l))

3
82 96 72
96

Input Description:
Dimensions of the matrix m and n, followed by the elements of the matrix.

Output Description:
Matrix sorted in ascending order

Sample Input :

3 3

87 21 34

89 32 78

12 23 45

Sample Output :

12 21 23

32 34 45

78 87 89

In [ ]:
m,n = input().split()
l2 = []
l3 = []
a = int(m)
b = int(n)
for i in range(a):
    l = list(map(int,input().split()))
    l3.append(l)
for i in range(a):
  for j in range(b):
    l2.append(l3[i][j])
l2.sort()
k = 0
for i in range(a):
  for j in range(b):
    l3[i][j] = l2[k]
    k = k + 1
for i in l3:
  print(*i)

3 3
87 21 34
32 34 45
78 87 89
21 32 34
34 45 78
87 87 89

You are given given task is to print whether array is ‘majestic’ or not.A ‘majsetic’ array is an array whose sum of first three number is equal to last three number.

Input Description:

You are given a number ‘n’,Next line contains ‘n’ space separated

Output Description:

Print 1 if array is majestic and 0 if it is not

Sample Input :

7

1 2 3 4 6 0 0

Sample Output :

1

In [ ]:
n = int(input())
a = list(map(int,input().split()))
b = a[0]+a[1]+a[2]
c = a[-1]+a[-2]+a[-3]
if b == c:
  print(1)
else:
  print(0)

7
1 2 3 4 6 0 0
1

Given a number N, print the odd digits in the number(space seperated) or print -1 if there is no odd digit in the given number.

Input Size : N <= 100000

Sample Testcase :

INPUT

2143

OUTPUT

1 3

In [ ]:
N = input()
a = []
for i in N:
  b = int(i)
  if b%2 == 0:
    pass
  else:
    a.append(i)
if len(a) > 0:
  print(*a)
else:
  print(-1)

2143
1 3